@{
    ViewData["Title"] = "Movies";

    string[] TableHeaders = new string[] {"Movie Title"
                        ,"Director"
                        ,"Streamable"
                        ,"Genre"
                        ,"Release Date"
                        ,"Duration (min)"
                        ,"Info"
                                };
}

<div>
   <h2>Movie List</h2>
</div>
<div>
    <form asp-controller="Home" asp-action="MovieList" method="get">
        <p>
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Movie Title..." name="SearchString" />
                <div class="input-group-append">
                    <span>
                        <input type="submit" class="btn btn-info" value="Search" />
                    </span>
                </div>
            </div>
        </p>
    </form>

</div>
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Movie_Name</td>
                            <td>@Data.Director_Name</td>
                            <td>@Data.Streamable</td> 
                            <td>@Data.Genre</td>
                            <td>@Data.Release_Date</td>
                            <td>@Data.Duration</td>
                            
                            <td>@Html.ActionLink("Details", "Details", new { id = Data.Movie_ID} )</td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>